@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 210 20% 96%;
    --foreground: 212 57% 15%;
    --card: 0 0% 100%;
    --card-foreground: 212 57% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 212 57% 15%;
    --primary: 212 57% 24%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 14% 89%;
    --secondary-foreground: 212 57% 15%;
    --muted: 210 14% 93%;
    --muted-foreground: 212 10% 47%;
    --accent: 24 95% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 14% 83%;
    --input: 210 14% 83%;
    --ring: 212 57% 24%;
    --chart-1: 212 57% 24%;
    --chart-2: 24 95% 53%;
    --chart-3: 142 76% 36%;
    --chart-4: 38 92% 50%;
    --chart-5: 0 84% 60%;
    --radius: 0.625rem;
    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;
    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
